/* 分割3*3的方块 */
.play-page .play-area .piece {
    position: absolute;
    left: 0;
    top: 0;
    width: 28vw;
    height: 20vh;
    /* 每个方块的宽高要动态设置 */
    /* width:21vw;
    height: 15vh; */
    border: 1px solid transparent;
  
    background-repeat: no-repeat;
    background-size: 84vw 60vh;
    transition: transform 0.6s ease-in-out;
  }
.play-page .play-area .piece-0 {
  background-position: 0 0;
}

.play-page .play-area .piece-1 {
  background-position: -28vw 0;
}

.play-page .play-area .piece-2 {
  background-position: -56vw 0;
}

.play-page .play-area .piece-3 {
  background-position: 0 -20vh;
}

.play-page .play-area .piece-4 {
  background-position: -28vw -20vh;
}

.play-page .play-area .piece-5 {
  background-position: -56vw -20vh;
}

.play-page .play-area .piece-6 {
  background-position: 0 -40vh;
}

.play-page .play-area .piece-7 {
  background-position: -28vw -40vh;
}

.play-page .play-area .piece-8 {
  background-position: -56vw -40vh;
}